<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>MUT</title>

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css"
		href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">

	<link rel="stylesheet" href="common/css/admin.css" />
	<link rel="stylesheet" href="common/js/jquery-ui-1.11.1.custom/jquery-ui.min.css" />
	<script type="text/javascript" src="common/js/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="common/js/xml2json.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="common/js/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="common/js/jquery-1.11.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

	<script type="text/javascript" type="text/javascript"
		src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" type="text/javascript"
		src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>

	<script type="text/javascript" src="common/js/jquery.blockUI.js">
	</script>
	<link rel="stylesheet" href="/TableTools/css/dataTables.tableTools.css" />
	<script type="text/javascript" type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/js/TableTools.min.js"></script>

	<style>
		.error-label {
			margin-top: 20px;
			color: #fff;
			background-color: #c4007c;
			padding: 5px 5px 5px 30px;
		}
	</style>
</head>

<body>
	<div class="area-top">
		<div class="">
			<div class="container">
				<div class="tableoutter">
					<div class="clearfix myheadtable" style="">
						<div style="display: flex;">
							<img width="50px" src="assets/logoApp.png">
							<div
								style="display: flex;align-items: center;padding-left: 4px;color: #FFF;font-weight: 700;font-size: 25px;">
								MUT
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<img id="displayBox" src="common/images/waiting.gif" width="120" height="120" style="display:none" />

	<div class="">
		<div class="">
			<div>
				<div class="tableoutter bg-menubar" style="background: #5e77f4;">
					<div class="clearfix menubar-align" style="padding-left: 18%;">
						<a class="menu" href="project">Home</a>
						<div class="dropdown">
							<button class="dropbtn">ฝ่ายผลิต</button>
							<div class="dropdown-content">
								<a href="generate">ผลิต</a>
								<a href="generate-createing">ดำเนินการ</a>
								<a href="generate-created">เสร็จแล้ว</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="dropbtn active">ฝ่ายขนส่ง</button>
							<div class="dropdown-content">
								<a href="plate">เลือกรถในการขนส่ง</a>
								<a class="active" href="deliver">นำส่ง</a>
								<a href="confirm-deliver">ยืนยันการส่ง</a>
							</div>
						</div>
						<a class="menu" href="report">เอกสาร</a>
						<a class="menu pull-right" href="/admin/logout" id="link_logout">Logout</a>
					</div>
				</div>

				<div style="display: flex;margin-bottom: 4%;">
					<div id="project-dom" style="width: 12%;border: solid 1.5px #000;">

					</div>
					<div class="container" style="width: 80%;">
						<h1>นำส่ง</h1>
						<h2 id="title-project"></h2>
						<div style="margin: 20px 0;display: flex;
						justify-content: flex-end;">
							<!-- <a onclick="onClickReport()" class="btn btn-primary"><i class="fa fa-print"></i>&nbsp;พิมพ์ใบนำส่ง</a> -->
						</div>

						<table id="offers" class="display" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>รหัสแผ่น</th>
									<th>ชื่อแผ่น</th>
									<th>กว้าง(m)</th>
									<th>ยาว(m)</th>
									<th>หนา(m)</th>
									<th>น้ำหนัก(kg)</th>
									<th>strength(ksc) Cube</th>
									<th>วันที่รับเข้าระบบ</th>
									<th>วันที่จัดส่ง</th>
									<th>ประเภทรถ</th>
									<th>ทะเบียนรถ</th>
									<th>น้ำหนักที่รถรองรับ(kg)</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody id="plate-dom">

							</tbody>
						</table>
						<div style="display: flex;align-items: flex-end;">
							<div id="myCanvas">
							</div>
							<a style="height: 32px;margin-left: 8px;" onclick="onDeliver();" class="btn btn-primary">ขนส่ง</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="modal-edit-plate">
			<div class="modal-content-edit-plate">
				<span onclick="toggleModalEditPlate(event, null)" class="close-button">×</span>
				<div class="iw_component" id="1545124851219">
					<img id="displayBox" style="display:none" src="/static/common/imgs/waiting.gif" alt="" width="120"
						height="120" class="img-responsive">
					<h1 id="cabin_class_label">แก้ไขข้อมูลแผ่น</h1>
					<h2 id="product_name"></h2>
					<div class="meal-content">
						<div class="row-fluid">
							<form id="frm" onsubmit="return onClickEditPlateSubmit(event)">
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										ชื่อแผ่น: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="edit-plate_name"
										id="edit-plate_name" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										วันที่จัดส่ง: <span class="mandatory">*</span>
									</div>
									<input required type="text" name="edit-delivery_date" id="edit-delivery_date" class="datepicker form-control input-width-40"
											value="" />
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										หนา(mm): <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="edit-thick"
										id="edit-thick" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										strength(ksc) Cube: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="edit-strength"
										id="edit-strength" value="">
								</div>
								<input style="display: none;" type="submit" class="btn btn-primary" id="editPlateSubmit"
									value="Save">
								<div id="errors"></div>
							</form>
							<div class="row-fluid">
								<div class="bott-right-button">
									<a class="btn btn-primary pull-right"
										onClick="document.getElementById('editPlateSubmit').click();" href="#">แก้ไขแผ่น</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-project">
			<div class="modal-content-project">
				<span onclick="toggleModalProject()" class="close-button">×</span>
				<div class="iw_component" id="1545124851219">
					<img id="displayBox" style="display:none" src="/static/common/imgs/waiting.gif" alt="" width="120"
						height="120" class="img-responsive">
					<h1 id="cabin_class_label">โครงการ</h1>
					<h2 id="product_name"></h2>
					<div class="meal-content">
						<div class="row-fluid">
							<form id="frm" onsubmit="return btnSubmit()">
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										ชื่อโครงการ: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="name"
										id="name" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										บ้านเลขที่: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="address_no"
										id="address_no" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										แขวง/ตำบล: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="district"
										id="district" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										เขต/อำเภอ: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="county"
										id="county" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										จังหวัด: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="province"
										id="province" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										รหัสไปรษณี: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="zip_code"
										id="zip_code" value="">
								</div>
								<input style="display: none;" type="submit" class="btn btn-primary" id="btnsubmit"
									value="Save">
								<div id="errors"></div>
							</form>
							<div class="row-fluid">
								<div class="bott-right-button">
									<a class="btn btn-primary pull-right"
										onClick="document.getElementById('btnsubmit').click();"
										href="#">บันทึก</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var modalProject = document.querySelector(".modal-project");
		var modalEditPlate = document.querySelector(".modal-edit-plate");
		var project_id;
		var plates = [];
		var selectrdPlate;
		function onDeliver(){
			var plateIds = [];
			var allPlateIds = [];
			for(var plate of plates){
				if(plate.selected){
					plateIds.push(plate.plate_id);
					allPlateIds.push(plate.plate_id);
				}
			}
			if(plateIds.length == 0){
				alert('please select plate!');
				return;
			}
			$.ajax({
				type: 'POST',
				url: '/api/deliver-plates',
				data: {
					plateIds: plateIds
				},
				success: function (data) {
					if(data.success){
						alert("ขนส่งแล้ว");
						if(!project_id){
							project_id = 1;
						}
						window.open('./generatePdf/'+project_id+'/'+JSON.stringify(allPlateIds));
						window.location.href = "/admin/deliver?project_id=" + project_id;
					}else{
						alert(JSON.stringify(data));
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function loadPlateData(){
			$.ajax({
				type: 'GET',
				url: '/api/plate',
				data: {
					project_id: project_id,
					status: 4
				},
				success: function (data) {
					console.log('data',data)
					plates = data;
					renderTable();
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function selectedItem(index){
			plates[index].selected = !plates[index].selected;
			var p = plates[index];
			for(var item of plates){
				if(p.order_id == item.order_id){
					item.selected = p.selected;
				}
			}
			renderTable();
		}
		function renderTable(){
			var html = '';
			var domMyCanvas = '';
			var index = 0;
			var plateSelected = [];
			for(var plate of plates){
				if(plate.selected){
					plateSelected.push(plate);
					html += '<tr style="background-color: #cdfd0b;" onclick="selectedItem('+index+');">';
				}else{
					html += '<tr onclick="selectedItem('+index+');">';
				}
				var strStatus = "เข้าคลัง";
				if(!plate.Car){
					plate.Car = {};
				}
				html += '<td>'+plate.plate_id+'</td>';
				html += '<td>'+plate.name+'</td>';
				html += '<td>'+(plate.width/1000).toFixed(4)+'</td>';
				html += '<td>'+(plate.height/1000).toFixed(4)+'</td>';
				html += '<td>'+plate.thick+'</td>';
				html += '<td>'+(Number(plate.weight)).toFixed(4)+'</td>';
				html += '<td>'+plate.strength+'</td>';
				html += '<td>'+plate.creation_date.substring(0, 10)+'</td>';
				html += '<td>'+plate.delivery_date.substring(0, 10)+'</td>';
				html += '<td>'+(plate.Car.car_type ? plate.Car.car_type : 'N/A')+'</td>';
				html += '<td>'+(plate.Car.car_no ? plate.Car.car_no : 'N/A')+'</td>';
				html += '<td>'+(plate.Car.support_weight ? plate.Car.support_weight : 'N/A')+'</td>';
				html += '<td>'+strStatus+'</td>';
				html += '</tr>';
				index++;
			}
			let dom = document.getElementById('myCanvas');
			for(let plate of plateSelected){
				let num = plateSelected.length;
				let widthDom = 100/num;
				let car = plate.Car;
				dom.style.width = car.car_width*100;
				dom.style.height = car.car_long*100;
				domMyCanvas += '<div style="display: flex;justify-content: center;width: '+widthDom+'%;">';
				let long = plate.height > plate.width ? plate.height/10 : plate.width/10;
				domMyCanvas += '	<div style="width: 10px;height: '+long+'px;background-color: #a5a5a5;"></div>';
				domMyCanvas += '</div>';
			} 
			if(plateSelected.length == 0){
				dom.style.width = 0;
				dom.style.height = 0;
			}

			$("#myCanvas").html(domMyCanvas);
			$("#plate-dom").html(html);
		}
		function onClickEditProject(e, projectId){
			e.preventDefault();
			toggleModalProject(projectId);
		}
		function btnSubmit() {
			var name = document.getElementById('name').value;
			var address_no = document.getElementById('address_no').value;
			var district = document.getElementById('district').value;
			var county = document.getElementById('county').value;
			var province = document.getElementById('province').value;
			var zip_code = document.getElementById('zip_code').value;
			var project = {
				name: name,
				address_no: address_no,
				district: district,
				county: county,
				province: province,
				zip_code: zip_code,
				statue: 1
			};
			if(selectedProjectItem){
				project.project_id = selectedProjectItem.project_id;
			}
			
			$.ajax({
				type: 'POST',
				url: '/api/project',
				data: project,
				success: function (data) {
					if(selectedProjectItem){
						alert("แก้ไขโครงการสำเร็จ");
					}else{
						alert("สร้างโครงการสำเร็จ");
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function toggleModalEditPlate(e, plate_id){
			e.stopPropagation();
			e.preventDefault();
			if(plate_id){
				for(let plate of plates){
					if(plate_id == plate.plate_id){
						selectrdPlate = plate;
						break;
					}
				}
				document.getElementById('edit-plate_name').value = selectrdPlate.name;
				document.getElementById('edit-delivery_date').value = selectrdPlate.delivery_date;
				document.getElementById('edit-thick').value = selectrdPlate.thick;
				document.getElementById('edit-strength').value = selectrdPlate.strength;
			}
			modalEditPlate.classList.toggle("show-modal");
		}
		var selectedProjectItem;
		function toggleModalProject(projectId) {
			if(projectId){
				var project = <%- JSON.stringify(project) %>;
				for(var item of project){
					if(projectId == item.project_id){
						document.getElementById('name').value = item.name;
						document.getElementById('address_no').value = item.address_no;
						document.getElementById('district').value = item.district;
						document.getElementById('county').value = item.county;
						document.getElementById('province').value = item.province;
						document.getElementById('zip_code').value = item.zip_code;
						selectedProjectItem = item;
						break;
					}
				}
			}else{
				selectedProjectItem = null;
			}
			modalProject.classList.toggle("show-modal");
		}
		function readerFiles(index, files, xmls, func) {
			var file = files[index];
			if (file) {
				var reader = new FileReader();
				reader.onload = function (e) {
					readXml = e.target.result;
					// console.log(readXml);
					var parser = new DOMParser();
					var doc = parser.parseFromString(readXml, "application/xml");
					// console.log(doc);
					xmls.push(readXml);
					readerFiles(++index, files, xmls, func);
				}
				reader.readAsText(file);
			} else {
				func.call(this, xmls);
			}
		}
		function selectedProject(project_id) {
			window.location.href = "/admin/deliver?project_id=" + project_id;
		}
		$(document).ready(function () {
			$(".datepicker").datepicker({
				minDate: 0
			});
			
			var html = '';
			html += '<div class="project-item" onclick="toggleModalProject()">';
			html += '+ เพิ่มโครงการ';
			html += '</div>';
			var index = 0;
			let project = <%- JSON.stringify(project) %>;
			project.forEach(function (item) {
				var url_string = window.location.href;
				var url = new URL(url_string);

				if (url.searchParams.get("project_id")) {
					project_id = url.searchParams.get("project_id");
				}
				if (!project_id && index == 0) {
					project_id = item.project_id;
				}
				if (project_id == item.project_id) {
					$("#title-project").html(item.name);
					html += '<div class="project-item-selected">';
					html += '<div style="margin-right: 20px;">'+item.name+'</div>';
				} else {
					html += '<div class="project-item">';
					html += '<div style="margin-right: 20px;" onclick="selectedProject(' + item.project_id + ')">'+item.name+'</div>';
				}
				html += '<div onclick="onClickEditProject(event, '+item.project_id+')" class="edit-project"><i class="fa fa-edit"></i></div>';
				html += '</div>';
				index++;
			});
			
			loadPlateData();

			$("#project-dom").html(html);

		});

		$('#offers')
			.removeClass('display')
			.addClass('table table-striped table-bordered');

		function getParameterByName(name) {
			var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
			return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
		}
	</script>
</body>

</html>