<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="common/css/admin.css" />
  <link type="text/css" href="common/js/bootstrap/css/bootstrap.css" rel="stylesheet">

  <style>
    .error-label {
      margin-top: 20px;
      color: #fff;
      background-color: #c4007c;
      padding: 5px 5px 5px 30px;
    }
  </style>
</head>

<body>
  <div class="area-top">
    <div class="">
      <div class="container">
        <div class="tableoutter">
          <div class="clearfix myheadtable" style="">
            <img width="38px" src="assets/logoApp.png">
            <span class="pull-right tg-head">
              <h1>Administration System</h1>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="container">
        <br>
        <div class="panel-box login-box" style="z-index: 1; top: 10px; margin-top: 0;">
          <div class="border"></div>
          <div class="panel-box-heading">
            <h2>MUT Login</h2>
            <span class="after"></span>
          </div>
          <div class="inner error-label" id="login_msg" style="display: none;">
            <i class="icon-remove-sign icon-white"></i><span>&nbsp;Username or password is incorrect.</span>
          </div>
          <div class="content">
            <br>
            <div class="row inner">
              <div class="span10">
                <label class="control-label">Enter your Username and Password below.</label>
              </div>
            </div>
            <br>
            <div class="row inner">
              <form method="post" id="frm_login">
                <div class="span4">
                  <input type="text" name="username" id="username" class="form-control input-width-80"
                    placeholder="Username">
                </div>
                <div class="span1"></div>
                <div class="span4">
                  <input type="password" name="password" id="password" class="form-control input-width-80"
                    placeholder="Password">
                </div>
                <div class="span3">
                  <input type="submit" class="btn btn-primary" id="btn_login" value="LOGIN">
                </div>
              </form>
            </div>

            <div class="row inner">

            </div>

            <div class="row inner">

            </div>

            <div class="row inner">

            </div>
            <hr>
            <div class="row inner row-agree">
              <div class="span12">
                <a href="#">
                  <strong>Need Help?</strong>
                </a>
                <br>
                <label for="agreement" class="control-label inline">Please contact on xx-xxxx-xxxx (Work hours :
                  08:00-17:00)</label>

              </div>
            </div>

          </div>

          <div class="border bottom"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>