<<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>MUT</title>

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css"
		href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">

	<link rel="stylesheet" href="common/css/admin.css" />
	<link rel="stylesheet" href="common/js/jquery-ui-1.11.1.custom/jquery-ui.min.css" />
	<script type="text/javascript" src="common/js/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="common/js/xml2json.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="common/js/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="common/js/jquery-1.11.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

	<script type="text/javascript" type="text/javascript"
		src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" type="text/javascript"
		src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>

	<script type="text/javascript" src="common/js/jquery.blockUI.js">
	</script>
	<link rel="stylesheet" href="/TableTools/css/dataTables.tableTools.css" />
	<script type="text/javascript" type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/js/TableTools.min.js"></script>

	<style>
		.error-label {
			margin-top: 20px;
			color: #fff;
			background-color: #c4007c;
			padding: 5px 5px 5px 30px;
		}
	</style>
</head>

<body>
	<div class="area-top">
		<div class="">
			<div class="container">
				<div class="tableoutter">
					<div class="clearfix myheadtable" style="">
						<div style="display: flex;">
							<img width="50px" src="assets/logoApp.png">
							<div
								style="display: flex;align-items: center;padding-left: 4px;color: #FFF;font-weight: 700;font-size: 25px;">
								MUT
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<img id="displayBox" src="common/images/waiting.gif" width="120" height="120" style="display:none" />

	<div class="">
		<div class="">
			<div>
				<div class="tableoutter bg-menubar" style="background: #5e77f4;">
					<div class="clearfix menubar-align" style="padding-left: 18%;">
						<a class="menu active" href="project">Home</a>
						<div class="dropdown">
							<button class="dropbtn">ฝ่ายผลิต</button>
							<div class="dropdown-content">
								<a href="generate">ผลิต</a>
								<a href="generate-createing">ดำเนินการ</a>
								<a href="generate-created">เสร็จแล้ว</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="dropbtn">ฝ่ายขนส่ง</button>
							<div class="dropdown-content">
								<a href="plate">เลือกรถในการขนส่ง</a>
								<a href="deliver">นำส่ง</a>
								<a href="confirm-deliver">ยืนยันการส่ง</a>
							</div>
						</div>
						<a class="menu" href="report">เอกสาร</a>
						<a class="menu pull-right" href="/admin/logout" id="link_logout">Logout</a>
					</div>
				</div>

				<div style="display: flex;">
					<div id="project-dom" style="width: 12%;border: solid 1.5px #000;">

					</div>
					<div class="container" style="width: 80%;">
						<h1>Home</h1>
						<h2 id="title-project"></h2>
						<div style="margin: 20px 0;display: flex;
						justify-content: flex-end;">
							<a onclick="document.getElementById('files').click();" class="btn btn-primary">เพิ่มแผ่น</a>
							<input style="display: none;" type="file" id="files" onchange="loadFile()"
								value="text XML FILE." multiple />
						</div>

						<table id="offers" class="display" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>รหัสแผ่น</th>
									<th>ชื่อแผ่น</th>
									<th>กว้าง(m)</th>
									<th>ยาว(m)</th>
									<th>หนา(m)</th>
									<th>น้ำหนัก(kg)</th>
									<th>strength(ksc) Cube</th>
									<th>วันที่รับเข้าระบบ</th>
									<th>วันที่จัดส่ง</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="plate-dom">

							</tbody>
						</table>
						<!-- <div style="display: flex;">
							<p>น้ำหนัก:</p>&nbsp;
							<p id='sum-weight'>0(kg)</p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<p>ความยาวสูงสุดของแผ่น:</p>&nbsp;
							<p id='max-long'>0(m)</p>
						</div>
						<div class="dropdown" style="margin-bottom: 180px;min-width: 380px;">
							<input id="car-selected" type="hidden" value=""/>
							<input id="car-selected-value" value="เลือกรถในการขนส่ง" type="button" style="width: 380px;height: 48px;"></input>
							<div id="dom-car" class="dropdown-content" style="max-height: 180px;min-width: 380px;">
							</div>
						</div>
						<a onclick="onSelectedCar();" id="submit" style="display: none;" class="btn btn-primary">ยืนยันการขนส่ง</a> -->
					</div>
				</div>
			</div>
		</div>

		<div class="modal-edit-plate">
			<div class="modal-content-edit-plate">
				<span onclick="toggleModalEditPlate(event, null)" class="close-button">×</span>
				<div class="iw_component" id="1545124851219">
					<img id="displayBox" style="display:none" src="/static/common/imgs/waiting.gif" alt="" width="120"
						height="120" class="img-responsive">
					<h1 id="cabin_class_label">แก้ไขข้อมูลแผ่น</h1>
					<h2 id="product_name"></h2>
					<div class="meal-content">
						<div class="row-fluid">
							<form id="frm" onsubmit="return onClickEditPlateSubmit(event)">
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										ชื่อแผ่น: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="edit-plate_name"
										id="edit-plate_name" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										วันที่จัดส่ง: <span class="mandatory">*</span>
									</div>
									<input required type="text" name="edit-delivery_date" id="edit-delivery_date" class="datepicker form-control input-width-40"
											value="" />
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										หนา(m): <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="edit-thick"
										id="edit-thick" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										strength(ksc) Cube: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="edit-strength"
										id="edit-strength" value="">
								</div>
								<input style="display: none;" type="submit" class="btn btn-primary" id="editPlateSubmit"
									value="Save">
								<div id="errors"></div>
							</form>
							<div class="row-fluid">
								<div class="bott-right-button">
									<a class="btn btn-primary pull-right"
										onClick="document.getElementById('editPlateSubmit').click();" href="#">แก้ไขแผ่น</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-plate">
			<div class="modal-content-plate">
				<span onclick="toggleModalPlate()" class="close-button">×</span>
				<div class="iw_component" id="1545124851219">
					<img id="displayBox" style="display:none" src="/static/common/imgs/waiting.gif" alt="" width="120"
						height="120" class="img-responsive">
					<h1 id="cabin_class_label">แผ่น</h1>
					<h2 id="product_name"></h2>
					<div class="meal-content">
						<div class="row-fluid">
							<form id="frm" onsubmit="return onClickPlateSubmit(event)">
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										วันที่จัดส่ง: <span class="mandatory">*</span>
									</div>
									<input required type="text" name="delivery_date" id="delivery_date" class="datepicker form-control input-width-40"
											value="" />
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										หนา(m): <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="thick"
										id="thick" value="0.1000">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										strength(ksc) Cube: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="strength"
										id="strength" value="240">
								</div>
								<input style="display: none;" type="submit" class="btn btn-primary" id="plateSubmit"
									value="Save">
								<div id="errors"></div>
							</form>
							<div class="row-fluid">
								<div class=" bott-right-button">
									<a class="btn btn-primary pull-right"
										onClick="document.getElementById('plateSubmit').click();" href="#">สร้างแผ่น</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-car">
			<div class="modal-content-car">
				<span onclick="toggleModalCar()" class="close-button">×</span>
				<div class="iw_component" id="1545124851219">
					<img id="displayBox" style="display:none" src="/static/common/imgs/waiting.gif" alt="" width="120"
						height="120" class="img-responsive">
					<h1 id="cabin_class_label">รถ</h1>
					<h2 id="product_name"></h2>
					<div class="meal-content">
						<div class="row-fluid">
							<form id="frm" onsubmit="return addCar()">
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 20%;padding-right: 12px;text-align: right;">
										ประเภทของรถ: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="car_type"
										id="car_type" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 20%;padding-right: 12px;text-align: right;">
										ทะเบียนรถ: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="car_no"
										id="car_no" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 20%;padding-right: 12px;text-align: right;">
										กว้าง(m): <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="car_width"
										id="car_width" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 20%;padding-right: 12px;text-align: right;">
										ยาว(m): <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="car_"
										id="car_long" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 20%;padding-right: 12px;text-align: right;">
										น้ำหนักที่รองรับ(kg): <span class="mandatory">*</span>
									</div>
									<input required type="number" class="form-control input-width-40" name="support_weight"
										id="support_weight" value="">
								</div>
								<input style="display: none;" type="submit" class="btn btn-primary" id="btnsubmit-car"
									value="Save">
								<div id="errors"></div>
							</form>
							<div class="row-fluid">
								<div class="bott-right-button">
									<a class="btn btn-primary pull-right"
										onClick="document.getElementById('btnsubmit-car').click();"
										href="#">บันทึก</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-project">
			<div class="modal-content-project">
				<span onclick="toggleModalProject()" class="close-button">×</span>
				<div class="iw_component" id="1545124851219">
					<img id="displayBox" style="display:none" src="/static/common/imgs/waiting.gif" alt="" width="120"
						height="120" class="img-responsive">
					<h1 id="cabin_class_label">โครงการ</h1>
					<h2 id="product_name"></h2>
					<div class="meal-content">
						<div class="row-fluid">
							<form id="frm" onsubmit="return btnSubmit()">
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										ชื่อโครงการ: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="name"
										id="name" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										บ้านเลขที่: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="address_no"
										id="address_no" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										แขวง/ตำบล: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="district"
										id="district" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										เขต/อำเภอ: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="county"
										id="county" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										จังหวัด: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="province"
										id="province" value="">
								</div>
								<div style="margin: 8px;display: flex;justify-content: center;">
									<div style="width: 12%;padding-right: 12px;text-align: right;">
										รหัสไปรษณี: <span class="mandatory">*</span>
									</div>
									<input required type="text" class="form-control input-width-40" name="zip_code"
										id="zip_code" value="">
								</div>
								<input style="display: none;" type="submit" class="btn btn-primary" id="btnsubmit"
									value="Save">
								<div id="errors"></div>
							</form>
							<div class="row-fluid">
								<div class="bott-right-button">
									<a class="btn btn-primary pull-right"
										onClick="document.getElementById('btnsubmit').click();"
										href="#">บันทึก</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var modalProject = document.querySelector(".modal-project");
		var modalCar = document.querySelector(".modal-car");
		var modalPlate = document.querySelector(".modal-plate");
		var modalEditPlate = document.querySelector(".modal-edit-plate");
		var project_id;
		var plates = [];
		var selectrdPlate;

		function onSelectedCar(){
			var carSelected = document.getElementById('car-selected').value;
			var plateIds = [];
			var sumPlateWeight = 0;
			var maxPlateLong = 0;

			for(var plate of plates){
				if(plate.selected){
					plateIds.push(plate.plate_id);
					sumPlateWeight += Number(plate.weight);
					var width = (plate.width/1000);
					var height = (plate.height/1000);
					if(maxPlateLong < width){
						maxPlateLong = width;
					}
					if(maxPlateLong < height){
						maxPlateLong = height;
					}
				}
			}
			if(maxPlateLong > selectedCarItem.car_long && maxPlateLong > selectedCarItem.car_width){
				var num = selectedCarItem.car_long > selectedCarItem.car_width ? selectedCarItem.car_long : selectedCarItem.car_width;
				alert('Over width or long '+num+' < '+maxPlateLong);
				return;
			}
			if(selectedCarItem.support_weight < sumPlateWeight){
				alert('Overweight '+selectedCarItem.support_weight+' < '+sumPlateWeight);
				return;
			}
			if(plateIds.length == 0){
				alert('please select plate!');
				return;
			}
			$.ajax({
				type: 'POST',
				url: '/api/transport-plates',
				data: {
					plateIds: plateIds,
					carId : carSelected
				},
				success: function (data) {
					if(data.success){
						alert("ขนส่งแผ่นสำเร็จ");
						window.location.href = "/admin/project?project_id=" + project_id;
					}else{
						alert(JSON.stringify(data));
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function loadPlateData(){
			$.ajax({
				type: 'GET',
				url: '/api/plate',
				data: {
					project_id: project_id,
					status: 1
				},
				success: function (data) {
					console.log('data',data)
					plates = data;
					renderTable();
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function selectedItem(index){
			plates[index].selected = !plates[index].selected;
			var sumPlateWeight = 0;
			var maxPlateLong = 0;
			for(var plate of plates){
				if(plate.selected){
					sumPlateWeight += Number(plate.weight);
					var width = (plate.width/1000);
					var height = (plate.height/1000);
					if(maxPlateLong < width){
						maxPlateLong = width;
					}
					if(maxPlateLong < height){
						maxPlateLong = height;
					}
				}
			}
			$('#sum-weight').html(sumPlateWeight+'(kg)');
			$('#max-long').html(maxPlateLong+'(m)');
			renderTable();
		}
		function renderTable(){
			var html = '';
			var index = 0;
			for(var plate of plates){
				if(plate.selected){
					html += '<tr style="background-color: #cdfd0b;" onclick="selectedItem('+index+');">';
				}else{
					html += '<tr onclick="selectedItem('+index+');">';
				}
				var strStatus = "เข้าสู่ระบบ";
				// if(plate.status == 2){
				// 	strStatus = "รอการผลิต"
				// }
				html += '<td>'+plate.plate_id+'</td>';
				html += '<td>'+plate.name+'</td>';
				html += '<td>'+(plate.width/1000).toFixed(4)+'</td>';
				html += '<td>'+(plate.height/1000).toFixed(4)+'</td>';
				html += '<td>'+plate.thick+'</td>';
				html += '<td>'+(Number(plate.weight)).toFixed(4)+'</td>';
				html += '<td>'+plate.strength+'</td>';
				html += '<td>'+plate.creation_date.substring(0, 10)+'</td>';
				html += '<td>'+plate.delivery_date.substring(0, 10)+'</td>';
				html += '<td>'+strStatus+'</td>';
				html += '<td><a onclick="toggleModalEditPlate(event, '+plate.plate_id+')" class="btn btn-warning"><i class="fa fa-edit"></i>แก้ไข</a></td>';						
				html += '</tr>';
				index++;
			}
			$("#plate-dom").html(html);
		}
		function onClickEditProject(e, projectId){
			e.preventDefault();
			toggleModalProject(projectId);
		}
		function onClickEditCar(e, carId){
			e.preventDefault();
			e.stopPropagation();
			toggleModalCar(carId);
		}
		function onClickEditPlateSubmit(e) {
			e.preventDefault();
			var index = 0;
			var plate_name = document.getElementById('edit-plate_name').value;
			var thick = document.getElementById('edit-thick').value;
			var strength = document.getElementById('edit-strength').value;
			var delivery_date = document.getElementById('edit-delivery_date').value;

			selectrdPlate.weight = selectrdPlate.width * selectrdPlate.height * thick * 2400 / 1000000;
			selectrdPlate.thick = thick;
			selectrdPlate.strength = strength;
			selectrdPlate.delivery_date = delivery_date;
			selectrdPlate.name = plate_name;
			$.ajax({
				type: 'POST',
				url: '/api/plates',
				data: {
					plates: [selectrdPlate]
				},
				success: function (data) {
					if(data.success){
						alert("แก้ไขแผ่นสำเร็จ");
						window.location.href = "/admin/project?project_id=" + project_id;
					}else{
						alert(JSON.stringify(data));
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function onClickPlateSubmit(e) {
			e.preventDefault();
			var index = 0;
			var thick = document.getElementById('thick').value;
			var strength = document.getElementById('strength').value;
			var delivery_date = document.getElementById('delivery_date').value;
			
			for(var plate of plates){
				index++;
				plate.weight = plate.area * thick * 2400 / 1000000;
				plate.thick = thick;
				plate.strength = strength;
				plate.delivery_date = delivery_date;
				plate.name = 'plate'+(new Date()).getTime()+index;
			}

			$.ajax({
				type: 'POST',
				url: '/api/plates',
				data: {
					plates: plates
				},
				success: function (data) {
					if(data.success){
						alert("สร้างแผ่นสำเร็จ");
						window.location.href = "/admin/project?project_id=" + project_id;
					}else{
						alert(JSON.stringify(data));
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function addCar() {
			var car_type = document.getElementById('car_type').value;
			var car_no = document.getElementById('car_no').value;
			var support_weight = document.getElementById('support_weight').value;
			var car_width = document.getElementById('car_width').value;
			var car_long = document.getElementById('car_long').value;
			var car = {
				car_type: car_type,
				car_no: car_no,
				support_weight: support_weight,
				car_width: car_width,
				car_long: car_long
			};
			if(selectedCarItem){
				car.car_id = selectedCarItem.car_id;
			}
			
			$.ajax({
				type: 'POST',
				url: '/api/car',
				data: car,
				success: function (data) {
					if(selectedCarItem){
						alert("แก้ไขรถสำเร็จ");
					}else{
						alert("สร้างรถสำเร็จ");
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function btnSubmit() {
			var name = document.getElementById('name').value;
			var address_no = document.getElementById('address_no').value;
			var district = document.getElementById('district').value;
			var county = document.getElementById('county').value;
			var province = document.getElementById('province').value;
			var zip_code = document.getElementById('zip_code').value;
			var project = {
				name: name,
				address_no: address_no,
				district: district,
				county: county,
				province: province,
				zip_code: zip_code,
				statue: 1
			};
			if(selectedProjectItem){
				project.project_id = selectedProjectItem.project_id;
			}
			
			$.ajax({
				type: 'POST',
				url: '/api/project',
				data: project,
				success: function (data) {
					if(selectedProjectItem){
						alert("แก้ไขโครงการสำเร็จ");
					}else{
						alert("สร้างโครงการสำเร็จ");
					}
				},
				complete: function () {
					$.unblockUI();
				}
			});
		}
		function toggleModalEditPlate(e, plate_id){
			e.stopPropagation();
			e.preventDefault();
			if(plate_id){
				for(let plate of plates){
					if(plate_id == plate.plate_id){
						selectrdPlate = plate;
						break;
					}
				}
				document.getElementById('edit-plate_name').value = selectrdPlate.name;
				document.getElementById('edit-delivery_date').value = selectrdPlate.delivery_date;
				document.getElementById('edit-thick').value = selectrdPlate.thick;
				document.getElementById('edit-strength').value = selectrdPlate.strength;
			}
			modalEditPlate.classList.toggle("show-modal");
		}
		function toggleModalPlate() {
			modalPlate.classList.toggle("show-modal");
		}
		var carItems;
		var selectedCarItem;
		function toggleModalCar(carId) {
			if(carId){
				for(var item of carItems){
					if(carId == item.car_id){
						document.getElementById('car_type').value = item.car_type;
						document.getElementById('car_no').value = item.car_no;
						document.getElementById('support_weight').value = item.support_weight;
						document.getElementById('car_width').value = item.car_width;
						document.getElementById('car_long').value = item.car_long;
						selectedCarItem = item;
						break;
					}
				}
			}else{
				// selectedProjectItem = null;
			}
			modalCar.classList.toggle("show-modal");
		}
		var selectedProjectItem;
		function toggleModalProject(projectId) {
			if(projectId){
				var project = <%- JSON.stringify(project) %>;
				for(var item of project){
					if(projectId == item.project_id){
						document.getElementById('name').value = item.name;
						document.getElementById('address_no').value = item.address_no;
						document.getElementById('district').value = item.district;
						document.getElementById('county').value = item.county;
						document.getElementById('province').value = item.province;
						document.getElementById('zip_code').value = item.zip_code;
						selectedProjectItem = item;
						break;
					}
				}
			}else{
				selectedProjectItem = null;
			}
			modalProject.classList.toggle("show-modal");
		}
		function readerFiles(index, files, xmls, func) {
			var file = files[index];
			if (file) {
				var reader = new FileReader();
				reader.onload = function (e) {
					readXml = e.target.result;
					// console.log(readXml);
					var parser = new DOMParser();
					var doc = parser.parseFromString(readXml, "application/xml");
					// console.log(doc);
					xmls.push(readXml);
					readerFiles(++index, files, xmls, func);
				}
				reader.readAsText(file);
			} else {
				func.call(this, xmls);
			}
		}
		function loadFile() {
			plates = [];
			var files = document.getElementById("files").files;
			var xmls = [];
			readerFiles(0, files, xmls, (res) => {
				var arrArea = [];
				for (var xml of res) {
					var json = X2J.parseXml(xml);
					var data = json[0].PXML_Document[0].Order[0].Product[0].Slab[0].Outline[0];
					if (data.jAttr.Type = 'lot') {
						var area = 0;
						var width = 0;
						var height = 0;
						for (var shape of data.Shape) {
							var test = [];
							var minX = 9999999999;
							var minY = 9999999999;
							var maxX = 0;
							var maxY = 0;
							for (var sVertex of shape.SVertex) {
								var x = sVertex.X ? Number(sVertex.X[0].jValue) : 0;
								var y = sVertex.Y ? Number(sVertex.Y[0].jValue) : 0;
								test.push({
									x: x,
									y: y
								})
								if (minX > x) {
									minX = x;
								}
								if (minY > y) {
									minY = y;
								}
								if (maxX < x) {
									maxX = x;
								}
								if (maxY < y) {
									maxY = y;
								}
							}
							var w = maxX - minX;
							if(w > width){
								width = w;
							}
							var h = maxY - minY;
							if(h > height){
								height = h;
							}
							var a = w * h;
							area -= a;
							area = Math.abs(area);
							console.log('test', JSON.stringify(test));
						}
						var plate = {
							project_id: project_id,
							width: width,
							height: height,
							area: area,
							status: 1
						};
						plates.push(plate);
						arrArea.push(area);
					}
				}
				// alert(JSON.stringify(arrArea));
				if (arrArea.length > 0) {
					toggleModalPlate();
				}
			});
		}
		function selectedCar(carId) {
			for(var item of carItems){
				if(carId == item.car_id){
					document.getElementById('car-selected').value = item.car_id;
					document.getElementById('car-selected-value').value = item.car_no+' '+item.support_weight+'(kg)'+' width(m):'+item.car_width+' long(m):'+item.car_long;
					document.getElementById('submit').style.display = '';
					selectedCarItem = item;
					break;
				}
			}
		}
		function selectedProject(project_id) {
			window.location.href = "/admin/project?project_id=" + project_id;
		}
		$(document).ready(function () {
			$(".datepicker").datepicker({
				minDate: 0
			});
			
			var html = '';
			html += '<div class="project-item" onclick="toggleModalProject()">';
			html += '+ เพิ่มโครงการ';
			html += '</div>';
			var index = 0;
			let project = <%- JSON.stringify(project) %>;
			project.forEach(function (item) {
				var url_string = window.location.href;
				var url = new URL(url_string);

				if (url.searchParams.get("project_id")) {
					project_id = url.searchParams.get("project_id");
				}
				if (!project_id && index == 0) {
					project_id = item.project_id;
				}
				if (project_id == item.project_id) {
					$("#title-project").html(item.name);
					html += '<div class="project-item-selected">';
					html += '<div style="margin-right: 20px;">'+item.name+'</div>';
				} else {
					html += '<div class="project-item">';
					html += '<div style="margin-right: 20px;" onclick="selectedProject(' + item.project_id + ')">'+item.name+'</div>';
				}
				html += '<div onclick="onClickEditProject(event, '+item.project_id+')" class="edit-project"><i class="fa fa-edit"></i></div>';
				html += '</div>';
				index++;
			});
			
			loadPlateData();

			$("#project-dom").html(html);

			$.ajax({
				type: 'GET',
				url: '/api/car',
				success: function (data) {
					console.log('car',data)
					carItems = data;
					var carDom = '';
					carDom += '<a onclick="toggleModalCar()">+ เพิ่มรถ</a>';
					for(let c of data){
						carDom += '<a style="position: relative;" onclick="selectedCar('+c.car_id+')">';
						carDom += '<div>'+c.car_type+' '+c.car_no+' '+c.support_weight+'(kg)'+' width(m):'+c.car_width+' long(m):'+c.car_long+'</div>';
						carDom += '<div onclick="onClickEditCar(event, '+c.car_id+')" class="edit-project"><i class="fa fa-edit"></i></div></a>';
						carDom += '</a>';
					}
					$("#dom-car").html(carDom);
				},
				complete: function () {
					$.unblockUI();
				}
			});
		});

		$('#offers')
			.removeClass('display')
			.addClass('table table-striped table-bordered');

		function getParameterByName(name) {
			var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
			return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
		}
	</script>
</body>

</html>