#myCanvas{
    border: #3D1A6F 1px solid;
    display: flex;
}
#craftTable{
    border: #3D1A6F 1px solid;
    display: flex;
    width: 800px;
    min-height: 400px;
    flex-wrap: wrap;
}
th{
	background-color: #FFF;
	font-size: 12px;
	text-align: center;
}
.show-modal {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1.0) !important;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s !important;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.modal-edit-plate {
	z-index: 2000;
	margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-plate {
	z-index: 2000;
	margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-project {
	z-index: 2000;
	margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-car {
	z-index: 2000;
	margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content-edit-plate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 70%;
    border-radius: 0.5rem;
}
.modal-content-plate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 70%;
    border-radius: 0.5rem;
}
.modal-content-project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 70%;
    border-radius: 0.5rem;
}
.modal-content-car {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 70%;
    border-radius: 0.5rem;
}
.dropbtn {
	background-color: #5e77f4;
	color: white;
	padding: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
    overflow: auto;
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	z-index: 9999;
	background-color: #efefef;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #445fe8;}
  .edit-project{
	position: absolute;
    right: 0;
	top: 0;
	height: 100%;
	width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit-project:hover { 
	  font-size: 20px;
  }
  .project-item{
	position: relative;
	width: 100%;
	background-color: #FFF;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline-offset: 1px;
	cursor: pointer;
}
.project-item-selected{
	position: relative;
	cursor: pointer;
	outline-offset: 1px;
	width: 100%;
	background-color: #29d0d0;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.area-top{
	background-color: #11135a;
	height: 88px;
	vertical-align: middle;
}
.tg-head{ color: #3D1A6F;}

.tableoutter { width: 100%; display:table;}

.myheadtable{
display: table-cell; vertical-align: middle; height: 88px;
}

.menubar-align{
display: table-cell; height: 48px;
}

.bg-menubar {
	background: url('../images/bg-menubar.png');
	height: 48px;
	font-family: arial;
	font-size: 18px;
	color: #FFFFFF;
}
.menubar-separator {
	width: 2px;
	background: url('../images/menubar-separator.png');
}

.menu{
	color: #FFFFFF;
	display:inline-block;
	padding: 14px 10px 0 10px;
}
.smallfont {font-size:10px;}
/*thead th { text-align: center;}*/

a:hover.menu{ color: #EABA0D;}

thead { background-color: #ECECF3;}

.mytable td{
	vertical-align: top;
}


input[type="checkbox"] {
    width: 24px;
    height: 20px;
    vertical-align: bottom;
}
#plate-dom{
    font-size: 12px;
}
label.checkbox {
    vertical-align: top;
    line-height: 20px;
    margin: 2px 0;
    display: block;
    height: 24px;
}
.mandatory{ color: #CA0000;}
.menu.active{
	color: #EABA0D;
}
.dropbtn.active{
	color: #EABA0D;
}
a.active{
	color: #EABA0D;
}
input[type=checkbox] {
    bottom: 8px !important;
}
input.form-control { height:26px !important;}
.mytable tr>td {width: 20%;}
.mytable tr>td+td {width: 80%;}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline:none;
  font-weight: bold;
}

input.datepicker {
	width:160px;
	height: 26px !important;
	background: url('../images/icoCalendar.gif') no-repeat scroll right 3px  rgba(0, 0, 0, 0);
	
}

.amadiv {
	margin-top :3px;
}
.removeparam{
	font-size: 9px;
}

#errmsg
{
color: red;
}

.tdborder{
	border: solid 1px #CCCCCC;
}

.adminbutton { color:#FFFFFF; text-decoration:none;}

.input-width-100{width: 100% !important;}
.input-width-90 {width: 90% !important;}
.input-width-80 {width: 80% !important;}
.input-width-70 {width: 70% !important;}
.input-width-60 {width: 60% !important;}
.input-width-50 {width: 50% !important;}
.input-width-40 {width: 40% !important;}
.input-width-30 {width: 30% !important;}
.input-width-20 {width: 20% !important;}
.input-width-10 {width: 10% !important;}

/****************/
ul.boxred  {
	background-color: #FEF2F2;
	border: solid 1px red;
	border-radius: 5px;
	height: auto;
	padding: 10px;
	left: 0;
	margin: 10px 0 10px 0;
}
ul.boxred li {
	list-style-position: inside;
	color: red;
	font-size: 11px;
}


.input-sm{
	width: 200px;	
}